@import url("https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
* {
  margin: 0;
  padding: 0;
}
::selection{
  background-color: #00fe77;
  color:#555;
}
#warning::selection {
  background-color: #fe0000;
  color:#0e1623;
}
p {
  text-align: center;
  margin: 30px auto;
  width: 75%;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 500;
  color:#00fe77b2;
}
#ab{
  filter: drop-shadow(0 0 2px #00fe77) drop-shadow(0 0 100px #00fe77);
  
}
img {
  height: 360px;
  display: block;
  margin: auto;
}
#warning {
  filter: drop-shadow(0 0 2px #fe0000) drop-shadow(0 0 100px #fe0000);
  color:#fe0000;
  font-weight: 500;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 1033px) { 
  p {
text-align: center;
margin: 30px auto;
width: 75%;
font-size: 1.1rem;
font-family: sans-serif;
font-weight: 500;
color:#00fe77b2;
text-transform: capitalize;
}
}