@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
* {
  margin: 0;
  padding: 0;
}
#navbar {
    background-color: #222;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: 0.5s;
  }
  #navbar ul {
    display: flex;
    align-items: center;
    transition: 0.5s;
  }
  #navbar ul li {
    list-style: none;
    transition: 0.5s;
  }
  .navbarthings {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-family: "Dongle", sans-serif;
    font-size: 2rem;
    transition: 0.5s;
  }
  #navbar li:last-child{
    margin-left: auto;
  }
  .right{
    margin-left: auto;
  }
  .navbarthings:hover {
    color: rgb(177, 177, 177);
  }
  #logo {
    height: 50px;
    border-radius: 50%;
  }
  #icons{
    display: none;
    color: white;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  .show{
    display: inline;
  }
  #cross{
    transform: rotate(45deg);
  }
  .hide{
    display: none;
  }
@media (max-width: 1033px) { 
  #icons{
    display: flex;
  }
  li{
    display: none;
  }
  #navbar ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .right{
    margin-left: 0;
  }
}