@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

body {
  /* background: url('/jan.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 80%; */
    background:#d7f2f2;
  
  
}

#home h1 {
  text-align: center ;
  font-size: 4rem ;
  font-family: "Montserrat", sans-serif ;
  color: black;
  width: 100%;
  float: none;
  /* display: none;Should be removed */
}
.smol-heading{
  font-size: 2rem !important;
  /* display: none;Should be removed */
  }
#home p {
  text-align: center;
  margin: 0px 300px;
  font-size: 25px;
  
}

#home #bookanimation {
  display: block;/*should be changed to block*/
  margin: 5px auto;
}

#wholepart {
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#preloader{
  background:#d7f2f2 ;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100000000000000000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
video{
  width: 100%;
  height: auto;
}
/* @media screen and (max-width: 920px) {
  body {
    background: url('/jan-phone.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: 50% 80%;
    
    
  }
} */
